---
---

@import "{{ site.theme }}";

.wrapper {
  max-width: 1200px;
}

h1, h2, h3 {
  margin-top: 1em;
  margin-bottom: 0.67em;
}

section p {
  margin-bottom: 0.6em;
}

section ul,
section ol {
  margin-top: 0.3em;
  margin-bottom: 0.6em;
}

section li {
  margin-bottom: 0.4em;
}
