---
---

@import "{{ site.theme }}";

.wrapper {
  max-width: 1200px;
}

section p {
  margin-bottom: 0.6em;
}

section ul,
section ol {
  margin-top: 0.0em;
  margin-bottom: 0.0em;
}

section li {
  margin-bottom: 0.3em;
}
